.containerRegistro {
    display: flex;
    width: 90%;
    margin-left: 9rem;
    justify-content: space-between;
}

.asideImg {
    background-image: url('../../public/image-hero-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 10rem;
    height: 40rem;
    margin-left: 2rem;
}

.registroPage {
    display: flex;
    flex-direction: column;
    margin: 10% 10%;
    align-items: center;
    gap: 1rem;
    background-color: #5B5BFF;
    border-radius: 18px;
    margin-left: 30%;
    width: 30%;
    height: 23rem;
    padding-top: 5%;
    color: #fff;
}

h2 {
    margin: 0;
}

@media (min-width:600px) and (max-width: 950px) {
    .registroPage {
        width: 45%;
        padding-top: 1rem;
    }

    
    .containerRegistro {
        display: block;
        margin-left: 0;
    }

    .asideImg {
        display: none;
    }
}

@media (max-width: 600px) {
    .registroPage  {
        width: 70%;
        padding-top: 1rem;
        margin: 9rem 3rem;
    }

    .containerRegistro  {
        display: block;
        margin-left: 0;
        margin-right: 10%;
    }

    .asideImg {
        display: none;
    }
}